[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "funcharts"]
	path = funcharts
	url = https://github.com/unina-sfere/funcharts
	shallow = true
	registered = true
[submodule "rofanova"]
	path = rofanova
	url = https://github.com/unina-sfere/rofanova
	shallow = true
	registered = true
[submodule "sasfunclust"]
	path = sasfunclust
	url = https://github.com/unina-sfere/sasfunclust
	shallow = true
	registered = true
[submodule "slasso"]
	path = slasso
	url = https://github.com/unina-sfere/slasso
	shallow = true
	registered = true
